@import 'vendor/reset';

@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/typography';
@import 'partials/sitewide';

@import 'components/nav';
@import 'components/wrapper';
@import 'components/contactlist';

* {
    box-sizing: border-box;
}

body {
    background: black;
}
.inner {
	opacity: 0;
	transition: all .2s ease;
}
.active {
	opacity: 1;
}