@import 'vendor/reset';

@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/typography';
@import 'partials/sitewide';

@import 'components/nav';
@import 'components/wrapper';
@import 'components/contactlist';

* {
    box-sizing: border-box;
}

body {
    background: black;
}
#wrapper {
}
.inner {
	opacity: 0;
	transition: all .3s ease;
	+ canvas {
		opacity: 0;
		transition: all .2s ease;
		transform: scale(1.02);
	}
}
.active {
	opacity: 1;
	+ canvas {
		opacity: 1;
		transform: scale(1);
	}
}
canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}