.nav{
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	place-items: center center;
	height: 100%;
	text-transform: uppercase;
	letter-spacing: 5.6px;
	font-size: 14px;
	@for $i from 1 through 4 {
		li:nth-child(#{$i}) {
			grid-row: #{$i + 1};
		}
	}
}

.logo{
	position: relative;
	height: 20vw;
	width: 80vw;
	overflow:hidden;
	padding: 25px;
	img{
		object-fit: contain;
		width: 100%;
		position: absolute;
		left:0;
		right:0;
		top:0;
		bottom: 0;
	}
}
