#wrapper{
	width: calc(100vw - #{$border-margin*2});
	height: 85vh;
	@include responsive(xs){
		height: calc(100vh - #{$border-margin*2});
	}
	position: fixed;
	margin: $border-margin;
	top: 0;
	left: 0;
	border: $border-width solid;
	border-image: linear-gradient(to bottom, $border-color, transparentize($border-color, .5)) 1 100%;
    background-size: cover;
	&:before{
		content: "";
		position: absolute;
		top: -$border-width;
		left: 0;
		right:0;
		background: $border-color;
		display: block;
		height: $border-width;
	}
	&:after{
		content: "";
		position: absolute;
		bottom: -$border-width;
		left: 0;
		right:0;
		background: transparentize($border-color, .5);
		display: block;
		height: $border-width;
	}
}

.inner{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .5s ease;
	opacity: 1;
	z-index: 2;
    overflow-x: hidden;
}
